body {
  margin: 10px;
  font-family: System, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 700px;
}

h2 {
  margin-top: 35px;
}

button {
  cursor: pointer;
}
